.accordion {
	width: 100%;
	border: 2px solid #343a40;
	border-radius: 1rem;
	padding: 1rem 0;
}

.accordion label {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 100%;
	margin: 0;
	padding: 0.5rem 1.5rem;
	box-sizing: border-box;
	cursor: pointer;
}

.accordion label:first-of-type > div {
	background-color: #5c7cfa;
}

.accordion label:nth-of-type(2) > div {
	background-color: #845ef7;
}

.accordion label:last-of-type > div {
	background-color: #f06595;
}

.accordion label input[type="radio"] {
	visibility: hidden;
	height: 0;
}

.accordion label > input ~ div {
	width: 100%;
	height: 8rem;
	border-radius: 0.5rem;
	margin-top: 1rem;
	max-height: 0;
	overflow: hidden;
}

.accordion label > input ~ div {
	transition: max-height 100ms ease-in-out;
}

.accordion label > input:checked ~ div {
	transition: max-height 300ms ease-in-out;
	max-height: 8rem;
}
